$bp1: 1520px;
$bp2: 1260px;
$bp3: 991px;
$bp4: 767px;
$bp5: 567px;
$bp6: 480px;
$main-color: #313534;
$light-gray: rgba(22, 26, 25, 0.4);
$white: #ffffff;
$red: #B62732;
$green: #00A351;
$black-green:#006422;
$light-blue: #92CAEA;
$dark-blue: #46A7DF;
// ^(\s)*$\n

